@using System.ServiceModel.Configuration
@using ComicBookGallery.Models
@model ComicBookGallery.Models.ComicBook

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.DisplayText;
}
<!DOCTYPE html>

<h2>@Model.DisplayText</h2>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h5><label>Series Title:</label> @Model.SeriesTitle</h5>
            <h5><label>Issue #:</label> @Model.IssueNumber</h5>
            <h5><label>Favorite:</label> @(Model.Favorite? "Yes" : "No")</h5>
            <h5>Artists:</h5>
            @if(Model.Artists.Length > 0) { 
                <div>
                    <ul>
                        @foreach (Artist artist in Model.Artists)
                        {
                            @:<li>@artist.Role : @artist.Name</li>
                        }

                        <li>Script: Dan Slott</li>
                        <li>Pencils: Humberto Ramos</li>
                        <li>Inks: Victor Olazaba</li>
                        <li>Colors: Edgar Delgado</li>
                        <li>Letters: Chris Eliopoulos</li>
                    </ul>
                </div>
            }
        </div>
        <h5>Description</h5>
        <div>@Html.Raw(Model.DescriptionHTML)</div>
    </div>
    <div class="col-md-6">
        <img src="/Images/@Model.CoverImageFileName" 
             alt="@Model.DisplayText" class="img-responsive" />
    </div>
</div>






